{% extends "./base.html" %}

{%block popup%}
<a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#exampleModalCenter">Create Exam</a>
{%endblock%}

{% block body %}
{% if user.teacher %}
<h3  style="margin-left: 25px;">Exams</h3>
{% endif %}


<section>
    <div class="container">
{% if not exams%}
<div>
    <h2> No exams man!!! Create some</h2>
</div>
{% else %}

    <div class="row">
        {% for e in exams %}
        <div class="col-auto mb-4">
            <div class="card" style="width: 20vw; height: 20hw;">
                <div class="card-header bg-warning text-truncate text-light">
                    <a class="card-title text-light" href="/teacher/exam/{{e.pk}}" } style="font-weight: bold;
                     font-size: 18px;">Exam title: {{e.title}}</a>
                    <p class="card-subtitle mb-2 text-light">Course Code : {{c.courseCode}}</p>
                </div>

              <div class="card-body">
                  <p class="card-text">Exam Course: {{e.course.title}}</p>
                  <p class="card-text">Exam description: {{e.description}} </p>
                  <p class="card-text">primary key : {{e.pk}} </p>

                  <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Edit/Delete </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="/teacher/deleteexam/{{e.pk}}">Delete</a>

                      </div>
                  </div>
              </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Create New Exam</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form action="/teacher/course/{{coursePk}}/" method="post">
      <div class="modal-body">

            {% csrf_token %}
            {{form.as_p}}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Create Exam" class="btn btn-primary">
      </div>
        </form>
    </div>
  </div>
</div>


{% endblock %}





