{% extends "./base.html" %}

{%block popup%}
{%endblock%}

{% block body %}


<div class="d-flex justify-content-center mb-3">
    <h1>Score page for {{form.title}}</h1>
</div>


{% if log %}
<div class="container">
<table class="table table-hover" cellspacing="50" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student Name</th>
      <th scope="col">Email</th>
      <th scope="col">Cheat Timer (in seconds)</th>
      <th scope="col">Submitted</th>
      <th scope="col">Obtain Mark</th>
    </tr>
  </thead>
  <tbody>
  {% for l in log %}
    <tr {%if l.totalSeconds > 16%} class="table-danger" {% endif %}>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{l.student}}</td>
      <td>{{l.student.user}}</td>
      <td>{{l.totalSeconds}}</td>
      <td> {% if l.student.pk in submit %}
            Yes
            {% else %}
            No
            {% endif %}  
      </td>
        <td> {% if l.student.pk in submit %}
            {% for s in submitted%}
            {% if l.student.pk == s.student.pk%}
            {{s.totalMarkObtain}}
            {% endif %}
            {% endfor %}
            {% else %}
            Not Submitted Yet
            {% endif %}
      </td>
  {% endfor %}
  </tbody>
</table>
</div>


{% else %}


<div class="container">
<center><h2 class="display-4">No responses yet!!!</h2></center>
</div>
{% endif %}

</center>
{% endblock %}