<!DOCTYPE html>
<html lang="en">
<head>
    <Title>Exam Room</Title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'accounts/header.html' %}

</head>
<body>

    <!-- Body -->
    <style type="text/css">
        .main{
            min-height: 77vh;
            height: 100%;
            }
    </style>
    <div class="main">
    {% block content %}

    {% endblock content %}
    </div>
    <!-- EndBody -->

    {% include 'accounts/footer.html' %}
</body>


</html>