{% extends "./base.html" %}
{% load static %}
{% block title %}Exam Time{% endblock %}
    {% block link %}   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% endblock %}

{% block popup %}
    <a class="btn btn-outline-success" href="/student/{{form.pk}}/submit" style="margin:6px">Submit</a>
{%endblock%}

{% block body %}



<div class="container" mt-5>
{% csrf_token %}
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div onselectstart="return false" class="border">
                <div class="question bg-info p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>{{exam.title}}</h4> 
                        <h4 id="total" value="{{totalQuestion}}">Total Questions: {{totalQuestion}}</h4>
                        <h4>Total Mark: {{totalMark}}</h4>
                    </div>
                </div>

                {% for q in form.questions.all %}
                <div class="question bg-light p-3 border-bottom" id="{{forloop.counter}}">

                    <div class="d-flex flex-row align-items-center question-title">                   
                        <div class="col-1">
                             <h2 class="text-danger">Q{{forloop.counter}}.</h2>
                        </div>
                        <div class="col-8">
                            <h4>{{q.question_title}}</h4>
                        </div>
                        <div style ="margin-left: auto;" class="col-auto">
                            <h6>Points: {{q.question_score}}</h6>
                        </div>                 
                    </div>
                    <br>
                    {% for choice in q.choices.all %}
                    <div style="font-size: 120%;" class="ans ml-2">
                        <label class="radio"> 
                        <input type="radio" name="{{q.id}}" value="{{choice.id}}" 
                        {% for a in answered %}
                            {% if a.givenAnswer.id == choice.id%}
                                checked
                            {% endif %}
                        {% endfor %}> 
                        <span>{{choice.question_choice}} </span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
             </div>
        </div>
    </div>

    <script>
        //document.getElementById(3).setAttribute("hidden", true);
    </script>

    <div class="wrapper">
  <div class="d-flex justify-content-center">

    <div class="d-flex row">
      <div class="col-sm-12">
        <p>&nbsp;</p>
        <ul id="pagination-demo" class="pagination-sm"></ul>
      </div>
    </div>

  </div>
</div>

    <!--<button id="btnClick">Click</button>-->
</div>


<noscript>
    <META HTTP-EQUIV="Refresh" CONTENT="0;URL='/student/jsDisable'">
</noscript>
{% endblock %}

{% block customScript%}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
<script src="{% static 'student/js/ajax.js' %}" type="text/javascript"></script>

{% endblock %}

