{% extends "./base.html" %}


{% block body %}
<style>
    .darkmode--activated .card {
  background-color: black;
  color: white;
  box-shadow: 4px 4px 10px 4px rgba(0, 34, 100, 0.3), 0px 4px 10px 10px rgba(0, 34, 100, 0.3);
}
</style>
{% if user.student %}
<h3  style="margin-left: 25px;">Courses</h3>
{% endif %}

 <style type="text/css">
        .main{
            min-height: 70vh;
            height: 100%;
            }
    </style>
<section id="courses">
    <div class="container main">
{% if not course%}
<div>
    <h2> No courses man!!! Join one </h2>
</div>
{% else %}
    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
    <div class="row">

        {%for c in course %}
        <div class="col-auto mb-4">
            <div class="card" style="width: 20vw; height: 20hw;">
                <div class="card-header bg-primary text-truncate text-light">
                    <a class="card-title text-light" href="/student/course/{{c.pk}}"  style="font-weight: bold;
                     font-size: 18px;">Course:{{c.title}}</a>
                    <!--<p class="card-subtitle mb-2 text-light" style="font-size: 14px;">Course Code : {{c.courseCode}}</p>#}-->
                </div>

              <div class="card-body">
                  <p class="card-text text-primary">Course subject : {{c.subject}}</p>
                  <p class="card-text text-primary">Course subject : {{c.teacher}}</p>
                  <p class="card-text text-primary">primary key : {{c.pk}}</p>
              </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Join New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <form action="/student/" method="post">
      <div class="modal-body">

            {% csrf_token %}
            {{form.as_p}}

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Join Course" class="btn btn-primary">
      </div>
        </form>
    </div>
  </div>
</div>


{% endblock %}






